:root {
  background-color: black;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  --color-1: white;
  --color-2: black;
  --secondary-color: greenyellow;

  --font-size: 1.3rem;
  --border-radius: 4px;
}

.title {
  color: var(--secondary-color);
  text-align: center;
  font-size: 4rem;
  margin: 30px 0;
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(3, 170px);
  grid-template-rows: repeat(3, 170px);
  justify-content: center;
  margin: 5rem 0;
}

.square {
  border: 2px solid var(--color-1);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  cursor: pointer;
  color: var(--color-1);
}

#controls {
  text-align: center;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input[type="text"] {
  border: 1px solid var(--color-1);
  border-radius: var(--border-radius);
  width: 170px;
  height: 1.5rem;
  padding: 0.5rem;
  background: var(--color-2);
  color: var(--color-1);
  font-size: 1rem;
  font-size: var(--font-size);
}

input::placeholder {
  color: rgb(208, 206, 206);
}

.btn {
  cursor: pointer;
  padding: 0.65rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  border: none;
  width: 130px;
}
/* modal */

.modal {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 40vh;
  width: 100%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  height: fit-content;
  font-size: max(5vh, 20px);
}

.modal-content {
  background-color: rgba(101, 255, 191, 0.51);
  text-align: center;
  width: 100%; /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: thin;
  color: #fff;
  text-shadow: 0 0 7px #5271ff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #5271ff;
}

.result {
  font-size: 5rem;
}

@media only screen and (max-width: 600px) {
  #gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    margin: 5rem 0;
  }

  .square {
    font-size: 5rem;
  }

  #controls {
    flex-wrap: wrap;
  }

  input[type="text"] {
    width: 300px;
  }
}
